* {
    padding: 0;
    margin: 0;
    color: slategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid{
    display: grid;
    align-content: center;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 3px solid slategray;
    font-size: 18px;
}
button, input.btn {
    border: 1px solid slategray;
}
button, input {
    background: none;
    padding: 20px;
}