@import url('https://fonts.googleapis.com/css?family=PT+Sans');


* {
    padding: 0;
    margin: 0;
    color: slategray;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

.grid{
    display: grid;
}

button, input {
    background: none;
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}