@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Jura:300|Lora|Spectral+SC');

@import 'vars.scss';

.block{
    display: block;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.normal{
    font-style: normal;
}

.currency{
    font-size: 80%;
}

.container{
    padding:20px 10%;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.border{
    border: 1px solid #eee;
}

.padding{
    padding: 20px;
}

.condensed 
{
    font-family: 'Roboto Condensed', sans-serif;
}

.jura {
    font-family: 'Jura', sans-serif;
}

.lora {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.sc {
    font-family: 'Spectral SC', serif;
}

.white{
    color:white;
}

.hr {
    width: 100px;
    border-bottom: 3px solid $accent;
    margin: 5px auto;
}

.ptsans{
    font-family: 'PT Sans', sans-serif;
}
.delete.icon {
    transform: translate(10px);
    transition: all .25s ease-in-out;
    opacity: 0;
    color: white;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    &:hover{
        cursor: pointer;        
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 21px;
        height: 3px;
        border-radius: 3px;
        background-color: currentColor;
        transform: rotate(-45deg);
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 21px;
        height: 3px;
        border-radius: 3px;        
        background-color: currentColor;
        transform: rotate(45deg);
    }
}

.edit.icon {
    transition: all .25s ease-in-out;
    opacity: 0;
    color: #000;
    position: absolute;
    margin-left: 4px;
    margin-top: 7px;
    top: 10px;
    right: 35px;
    width: 18px;
    height: 8px;
    border-radius: 1px;
    border: solid 1px currentColor;
    transform: rotate(-45deg) translate(10px, 10px);
    &:hover{
        color: dodgerblue;
    }
    &:before {
        content: '';
        position: absolute;
        left: -11px;
        top: -1px;
        width: 0px;
        height: 0px;
        border-left: solid 5px transparent;
        border-right: solid 5px currentColor;
        border-top: solid 4px transparent;
        border-bottom: solid 4px transparent;
    }

}
  
  
  