@import url('https://fonts.googleapis.com/css?family=Comfortaa|Cormorant+Garamond|Cormorant+Infant|Cormorant+Unicase|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


$sg: slategray;
$gap: 10px;
$accent: #C6282C;
$tr: all .1s ease;
$bs: 0 0 10px rgba(0, 0, 0, .15);
$fb: #4867AA;


//#region fonts 
$unicase: 'Cormorant Unicase', serif;
$comfortaa: 'Comfortaa', cursive;
$one: 'Poiret One', cursive;
$garamond: 'Cormorant Garamond', serif;
$infant: 'Cormorant Infant', serif;
$gothic: 'Didact Gothic', sans-serif;
$sc: 'Playfair Display SC', serif;
$condensed: 'Roboto Condensed', sans-serif;
//#endregion
