@import '../Shared/vars.scss';

.categories-list{
    align-self: start;
    grid-gap: $gap;
    .category{
        &.active{
            background-color: $accent;

            .name{
                background-color: $accent;
                color: white;
            }
            &:hover{
                .name{
                    color: white;
                }
            }
        }
        transition: all ease-in-out .25s;
        padding: 1px;
        padding-left: 0;
        border-left:3px solid $accent;
        .name{
            display: block;
            padding: $gap 20px;
            background-color: white;
            color: black;
            font-size: 1.45em;
            font-family: $unicase;
        }
        &:hover{
            cursor: pointer;
            background-color: $accent;
            .name{
                color: $accent;
            }
        }
    }
}
