@import '../Shared/vars.scss';

.categories-list{
    align-self: start;
    grid-gap: $gap;
    .category{
        padding: $gap 20px;
        .name{
            font-size: 1.25em;
            font-family: $unicase;
        }
    }
}
