@import '../Shared/vars.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.menu{
    &.absolute{
        position: absolute;
        top: 40px;
        left: 10%;
        right: 10%;
        padding: 20px;
        z-index: 100;    
        background-color: white;
        grid-template-columns: auto auto;
        transition: left ease-in-out .5s, right ease-in-out .5s, position ease-in-out .5s;
    }
    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 20px;
        grid-template-columns: auto auto;
        transition: left ease-in-out .5s, right ease-in-out .5s, position ease-in-out .5s;
        background-color: white;
        box-shadow: $bs;

    }
    .menu-images{
        z-index: 100;
        grid-template-columns: 90px 140px;
        grid-gap: 20px;
        .img-wrapper{
            align-self: center;
        }
    }
    
    .links-box{
        grid-template-columns: repeat(7, auto);
        justify-self: end;
        z-index: 1;
        li{
            transition: $tr;
            align-self: center;
            &:last-child{
                border: 1px solid $sg;
                &:hover{
                    border-color: $fb;
                    background-color: $fb;
                    a{
                        color: white;
                        font-family: $condensed;
                    }
                }
            }
            &:hover{
                a{
                    color: $accent;
                }
            }
            a{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: .95em;
                padding: $gap;
                display: block;
            }
        }
        li.active{
            background-color: $accent;
            a{
                color: white;
            }
        }
    }
}