@import './categories-list.scss';
@import './products-list.scss';

.product-block{
    grid-template-columns: 1fr 4fr;
    grid-gap: 50px;
    padding-bottom: 20vh;
    position: relative;
    .title{
        grid-column: 1/ -1;
        padding-bottom: 20px;
        text-align: center;
        clear: both;
        h1{
            font-family: $sc;
            font-size: 3em;
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
	    height: 0;
	    border-bottom: 15vh solid #f9f9ff; 
	    border-left: 100vw solid transparent;
    }
}