@import '../Shared/vars.scss';

.stories{
    position: relative;
    padding-bottom: 20vh;
    .title{
        text-align: center;
        h1{
            font-family: $sc;
            font-size: 3em;
        }
    }
    .stories-box{
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
        grid-gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-evenly;
        .history{
            box-shadow: $bs;
            margin: 0 auto;
            .date{
                padding: $gap;
                background-color: $accent;
                font-family: $unicase;
                font-weight: 900;
                color: white;
            }
            .text{
                display: block;
                padding: 20px;                
                font-family: $garamond;
                font-size: 1.45em;
                text-align: justify;
                text-indent: 50px;
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
	    height: 0;
	    border-bottom: 15vh solid #f5f5f5; 
	    border-left: 100vw solid transparent;
    }
}