@import '../Shared/vars.scss';

.success{
    position: relative;
    padding-bottom: 20vh;
    background-color: #f9f9ff;
    .title{
        text-align: center;
        h1{
            font-family: $sc;
            font-size: 3em;
        }
    }
    .values-box{
        .values-wrapper{
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 20px;
            .value{
                align-self: center;
                text-align: justify;
                .text{
                    font-family: $garamond;
                    font-size: 1.45em;
                    padding: 20px;
                    display: block;
                    text-indent: 50px;
                }
                &:nth-child(1){
                    grid-column: 1/ 5;
                }
                &:nth-child(2){
                    grid-column: 5/ 9;

                }
                &:nth-child(3){
                    grid-column: 1/ 4;
                }
                &:nth-child(4){
                    grid-column: 4/ 9;
                    .text{
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    &:after{
        content: '';
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
	    height: 0;
	    border-bottom: 15vh solid white; 
	    border-left: 100vw solid transparent;
    }
}