@import 'Shared/default.scss';
@import 'Shared/helpers.scss';
@import 'Client/header.scss';
@import 'Client/menu.scss';
@import './Client/description-slider.scss';
@import './Client/stories.scss';
@import './Client/success.scss';
@import './Client/traditions.scss';
@import './Client/product-block.scss';
@import './Client/future.scss';
@import './Client/footer.scss';
