@import url(https://fonts.googleapis.com/css?family=PT+Sans);@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);@import url(https://fonts.googleapis.com/css?family=Jura:300|Lora|Spectral+SC);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);@import url(https://fonts.googleapis.com/css?family=Comfortaa|Cormorant+Garamond|Cormorant+Infant|Cormorant+Unicase|Poiret+One);@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:900);* {
  padding: 0;
  margin: 0;
  color: slategray;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box; }

.grid {
  display: -ms-grid;
  display: grid; }

input, textarea {
  border: none;
  border-bottom: 3px solid slategray;
  font-size: 18px; }

button, input {
  background: none;
  border: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  display: block;
  width: 100%; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

.currency {
  font-size: 80%; }

.container {
  padding: 20px 10%; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.border {
  border: 1px solid #eee; }

.padding {
  padding: 20px; }

.condensed {
  font-family: 'Roboto Condensed', sans-serif; }

.jura {
  font-family: 'Jura', sans-serif; }

.lora {
  font-family: 'Lora', serif;
  font-weight: bold; }

.sc {
  font-family: 'Spectral SC', serif; }

.white {
  color: white; }

.br {
  position: relative;
  width: 100px;
  height: 5px;
  opacity: .9;
  background-color: #C6282C;
  margin: 0 auto; }

.ptsans {
  font-family: 'PT Sans', sans-serif; }

.delete.icon {
  transform: translate(10px);
  transition: all .25s ease-in-out;
  opacity: 0;
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px; }
  .delete.icon:hover {
    color: #C6282C; }
  .delete.icon:before {
    content: '';
    position: absolute;
    left: 0;
    width: 21px;
    height: 3px;
    border-radius: 3px;
    background-color: currentColor;
    transform: rotate(-45deg); }
  .delete.icon:after {
    content: '';
    position: absolute;
    left: 0;
    width: 21px;
    height: 3px;
    border-radius: 3px;
    background-color: currentColor;
    transform: rotate(45deg); }

.edit.icon {
  transition: all .25s ease-in-out;
  opacity: 0;
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 7px;
  top: 10px;
  right: 35px;
  width: 18px;
  height: 8px;
  border-radius: 1px;
  border: solid 1px currentColor;
  transform: rotate(-45deg) translate(10px, 10px); }
  .edit.icon:hover {
    color: dodgerblue; }
  .edit.icon:before {
    content: '';
    position: absolute;
    left: -11px;
    top: -1px;
    width: 0px;
    height: 0px;
    border-left: solid 5px transparent;
    border-right: solid 5px currentColor;
    border-top: solid 4px transparent;
    border-bottom: solid 4px transparent; }

.app.grid {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  -ms-grid-columns: (30vw)[3];
      grid-template-columns: repeat(3, 30vw);
  grid-gap: 2vw; }
  .app.grid .list {
    height: 90vh;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
    .app.grid .list .title {
      padding: 10px; }
      .app.grid .list .title h1 {
        font-size: 26px;
        text-transform: uppercase; }
    .app.grid .list .panel {
      padding: 10px;
      max-width: 100%;
      grid-gap: 10px;
      -ms-grid-columns: auto auto;
          grid-template-columns: auto auto; }
      .app.grid .list .panel input {
        padding: 10px;
        font-style: italic;
        border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
        .app.grid .list .panel input:focus {
          background-color: #f9f9f9; }
      .app.grid .list .panel button {
        padding: 10px; }
    .app.grid .list .scroll {
      position: absolute;
      top: 128px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto; }

.history-form {
  padding: 20px 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .history-form .field {
    grid-column: 1/ -1;
    padding: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
    .history-form .field:nth-child(2) {
      height: 300px;
      resize: none; }
    .history-form .field:focus {
      background-color: #f9f9f9;
      border-bottom-color: #232323; }
  .history-form .btn {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .history-form .btn:hover {
      background-color: #232323;
      border-color: #232323;
      color: white; }

.list.stories .title {
  border-bottom: 3px solid #232323; }

.list.stories .panel input:focus {
  border-color: #232323; }

.list.stories .panel button:hover {
  background-color: #232323;
  border-color: #232323;
  color: white; }

.list.stories .stories-box .history {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid white;
  position: relative; }
  .list.stories .stories-box .history .text {
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.02);
    font-family: "Cormorant Garamond", serif;
    font-size: 20px; }
  .list.stories .stories-box .history h1 {
    color: #232323; }
  .list.stories .stories-box .history:hover {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .list.stories .stories-box .history:hover .delete.icon {
      transform: translate(0);
      opacity: 1; }

.category-form {
  padding: 20px 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .category-form .field {
    grid-column: 1/ -1;
    padding: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
    .category-form .field:focus {
      background-color: #f9f9f9;
      border-bottom-color: #125394; }
  .category-form .btn {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .category-form .btn:hover {
      background-color: #125394;
      border-color: #125394;
      color: white; }

.list.categories .title {
  border-bottom: 3px solid #125394; }

.list.categories .panel input:focus {
  border-color: #125394; }

.list.categories .panel button:hover {
  background-color: #125394;
  border-color: #125394;
  color: white; }

.list.categories .categories-box .category {
  position: relative; }
  .list.categories .categories-box .category .name {
    display: block;
    font-size: 24px;
    padding: 10px; }
  .list.categories .categories-box .category .delete.icon {
    top: 15px;
    right: 15px; }
  .list.categories .categories-box .category:hover {
    background-color: #f9f9f9; }
    .list.categories .categories-box .category:hover .delete.icon {
      transform: translate(0);
      opacity: 1; }

.list.products .title {
  border-bottom: 3px solid #C6282C; }

.list.products .panel input:focus {
  border-color: #C6282C; }

.list.products .panel button:hover {
  background-color: #C6282C;
  border-color: #C6282C;
  color: white; }

/*# sourceMappingURL=Admin.css.map*/