@import '../Shared/vars.scss';
@import "./category-form.scss";
$catAccent: rgb(18, 83, 148);
.list.categories{
    width: 80%;
    margin: 0 auto;
    .categories-box{
        
        .categories-wrapper{
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            .category{
                position: relative;
                .name{
                    display: block;
                    font-size: 2em;
                    font-family: $unicase;
                    padding: $gap;
                }
                .delete.icon{
                    top: 15px;
                    right: 15px;
                    color: $sg;
                    &:hover{
                        color: $accent;
                    }
                }            
                &:hover{
                    background-color: #f9f9f9;
                    .delete.icon{
                        transform: translate(0);
                        opacity: 1;
                    }
                }
            }  
        }
        
    }
}