@import '../Shared/vars.scss';

$catAccent: rgb(20, 103, 185);
.list.categories{
    .title{
        background-color: white;
        h1{
            background-color: $catAccent;
        }
    }
    .panel{
        input:focus{
            border-color: $catAccent;
        }
        button:hover{
            background-color: $catAccent;
            border-color: $catAccent;
            color: white;
        }
    }
}