@import '../Shared/vars.scss';
@import "./category-form.scss";
$catAccent: rgb(18, 83, 148);
.list.categories{
    .title{
        border-bottom: 3px solid $catAccent;
    }
    .panel{
        input:focus{
            border-color: $catAccent;
        }
        button:hover{
            background-color: $catAccent;
            border-color: $catAccent;
            color: white;
        }
    }
    .categories-box{
        .category{
            position: relative;
            .name{
                display: block;
                font-size: 24px;
                padding: $gap;
            }
            .delete.icon{
                top: 15px;
                right: 15px;
            }            
            &:hover{
                background-color: #f9f9f9;
                .delete.icon{
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }
}