@import '../Shared/vars.scss';
.app.grid{
    justify-content: center;
    align-content: end;
    height: 100vh;
    grid-template-columns: 80%;
    .list{
        align-self: start;
        height: 80vh;
        margin-bottom: 40px;
        position: relative;
        .title{
            text-align: center;
            padding: 10px;
            margin-bottom: 40px;
            
            h1{
                font-size: 26px;
                text-transform: uppercase;
                font-size: 3em;
                font-family: $sc;
            }
        }

        .panel{
            padding: 20px;
            max-width: 100%;
            grid-gap: 20px;
            grid-template-columns: auto auto;
            box-shadow: $bs;
            input{
                padding: 10px;
                font-style: italic;
                font-family: $condensed;
                font-size: 18px;
                border-bottom: 3px solid rgba(0, 0, 0, .1);
                &:focus{
                    background-color: #f9f9f9;
                    border-color: $accent;
                }
            }
            button{
                padding: 10px;
                font-family: $condensed;
                font-size: 14px;
                border: 1px solid $sg;
                &:hover{
                    cursor: pointer;
                    border-color: $accent;
                    color: $accent;
                }
            }
        }
        .scroll{
            position: absolute;
            padding: 20px;
            top: 244px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: auto;
        }
    }
    
}