@import '../Shared/vars.scss';

.app.grid{
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(3, 30vw);
    grid-gap: 2vw;
    .list{
        box-shadow: $bs;
        height: 90vh;
        .title{
            max-width: 100%;
            padding: $gap;
            text-transform: uppercase;
            h1{
                color: white;
            }
        }
    }
    .panel{
        padding: 10px;
        max-width: 100%;
        background-color: #f9f9f9;
        grid-gap: $gap;
        grid-template-columns: auto auto;
        input{
            padding: 10px;
            font-style: italic;
            &:focus{
                background-color: darken(#f9f9f9, 3%);
            }
        }
        button{
            padding: 10px;
        }
    }
}