@import '../Shared/vars.scss';

.app.grid{
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(3, 30vw);
    grid-gap: 2vw;
    .list{
        height: 90vh;
        position: relative;
        box-shadow: $bs;
        .title{
            padding: 10px;
            h1{
                font-size: 26px;
                text-transform: uppercase;
            }
        }

        .panel{
            padding: 10px;
            max-width: 100%;
            grid-gap: $gap;
            grid-template-columns: auto auto;
            input{
                padding: 10px;
                font-style: italic;
                border-bottom: 3px solid rgba(0, 0, 0, .1);
                &:focus{
                    background-color: #f9f9f9;
                }
            }
            button{
                padding: 10px;
            }
        }
        .scroll{
            position: absolute;
            top: 128px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: auto;
        }
    }
    
}