@import '../Shared/vars.scss';

.list.products{
    .title{
        border-bottom: 3px solid $accent;
    }
    .panel{
        input:focus{
            border-color: $accent;
        }
        button:hover{
            background-color: $accent;
            border-color: $accent;
            color: white;
        }
    }
}