@import '../Shared/vars.scss';
@import './history-form.scss';
$histAccent: rgb(35, 35, 35) ;

.list.stories{
    .title{
        border-bottom: 3px solid $histAccent;
    }
    .panel{
        input:focus{
            border-color: $histAccent;
        }
        button:hover{
            background-color: $histAccent;
            border-color: $histAccent;
            color: white;
        }
    }
    .stories-box{
        .history{
            margin: 10px 0;
            padding: 10px;
            border: 1px solid white;
            position: relative;
            .text{
                display: block;
                padding: 10px;
                background-color: rgba(0, 0, 0, .02);
                font-family: $garamond;
                font-size: 20px;
            }
            h1{
                color: $histAccent;
                
            }
            &:hover{
                border: 1px solid rgba(0, 0, 0, .1);
                .delete.icon{
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }
}