@import '../Shared/vars.scss';
@import './history-form.scss';
$histAccent: rgb(35, 35, 35) ;

.list.stories{
    width: 90%;
    margin: 0 auto;
    .stories-box{
        .stories-wrapper{
            grid-template-columns: repeat(auto-fit, minmax(500px, auto));
            grid-gap: 20px;
            .history{
                margin: 10px 0;
                position: relative;
                margin: 0 auto;
                border: 1px solid $sg;
            .date{
                padding: $gap;
                font-family: $unicase;
                font-weight: 900;
                color: black;
            }
            .text{
                display: block;
                padding: 20px $gap;                
                font-family: $garamond;
                font-size: 1.3em;
                text-align: justify;
                text-indent: 50px;
                color: $sg;
            }
            &:hover{
                border-color: $accent;
                .delete.icon{
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
        }
        
    }
}